# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST="${IAM_GRPC_HOST}"

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT="${IAM_GRPC_PORT}"

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL="${IAM_LOGGER_LEVEL}"

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON="${IAM_LOGGER_AS_JSON}"