# Logger
LOG_LEVEL=info
LOG_AS_JSON=false

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_ORDER_PAID_TOPIC=order.paid
KAFKA_ORDER_PAID_GROUP_ID=notification-service
KAFKA_SHIP_ASSEMBLED_TOPIC=ship.assembled
KAFKA_SHIP_ASSEMBLED_GROUP_ID=notification-service

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
