# HTTP Server
HTTP_HOST=localhost
HTTP_PORT=8080
HTTP_READ_HEADER_TIMEOUT=5
HTTP_SHUTDOWN_TIMEOUT=10

# Logger
LOG_LEVEL=info
LOG_AS_JSON=false

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=order

# gRPC Clients
GRPC_HOST=localhost
GRPC_PORT=50051

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_ORDER_PAID_TOPIC=order.paid
KAFKA_SHIP_ASSEMBLED_TOPIC=ship.assembled
KAFKA_SHIP_ASSEMBLED_GROUP_ID=order-service